package.json
package-lock.json
node_modules
packages/ui/node_modules
packages/api/src/elgamal.test.js
packages/api/node_modules
packages/api/src/__tests__
packages/api/src/__fixtures__
packages/api/src/__mocks__
packages/zokrates-worker/node_modules
build
packages/api/build
packages/ui/build
packages/zokrates-worker/build
__tests__
dist
swagger.json
public
serviceWorker.js
migrations
.eslintrc.js
commitlint.config.js
next.*
test