$primary-color: #00A70A;
$primary-color-hover: rgba(0, 167, 10, 0.8);
$primary-text-color: #272727;
$secondary-green: #0E6248;
$light-green: #E6F3DE;
$highlight-green: #00C200;
$grey: rgba(17,17,17,0.8);
$black: rgba(17,17,17,0.8);
$light-grey: #ADADAD;
$tertiary-color: #ADADAD;
$tertiary-color-hover: rgba(173, 173, 173, .8);
$light-black: #343434;
$greenshadow: rgba(69,173,65,0.24);
$blue: #0063a7;
$border-grey: #979797;
$white: #ffffff;
$red: #ff0000;
$red-color-hover: rgba(255, 0, 0, 0.8);
$dark-red: #CC0E0E;
$light-white: rgba(255, 255, 255, 0.8);
$alternate-black: #111111;
$notification-green: #278127;
$black06: rgba(39,39,39, 0.6);